BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: true
  AfterUnion: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
